
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Base color scheme for light mode (can be refined later) */
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 142 100% 60%;
    --primary-foreground: 120 14% 6%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --radius: 0.75rem;
  }

  .dark {
    --background: 150 14% 5%; /* #0b0f0b */
    --foreground: 170 45% 15%; /* #163832 */
    
    --card: 150 10% 8%; /* #141A14 */
    --card-foreground: 170 45% 15%;
    
    --popover: 150 10% 7%;
    --popover-foreground: 170 45% 15%;

    --primary: 142 90% 60%; /* #34ff73 */
    --primary-foreground: 120 14% 6%;
    
    --secondary: 150 10% 12%;
    --secondary-foreground: 170 45% 15%;
    
    --muted: 150 10% 12%;
    --muted-foreground: 170 45% 35%;

    --accent: 142 90% 60%;
    --accent-foreground: 120 14% 6%;
    
    --destructive: 0 62.8% 45.6%;
    --destructive-foreground: 0 0% 98%;
    
    --border: 150 10% 15%;
    --input: 150 10% 15%;
    --ring: 142 90% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
     font-feature-settings: "rlig" 1, "calt" 1;
  }
   h1, h2, h3, h4, h5, h6 {
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    letter-spacing: -0.03em;
  }
}
